.event-container h1 {
    font-size: 20px;
    font-weight: 600;
    font-family: Tele Grotesk Fet
}
.event-container h2 {
    font-size: 18px;
    font-weight: 600;
    font-family: Tele Grotesk Fet;
}
.event-container h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: Tele Grotesk Fet;
}
