@font-face {
    font-family: 'Tele Grotesk Ult';
    src: url('fonts/TeleGroteskUlt.ttf') format('truetype');
}

@font-face {
    font-family: 'Tele Grotesk Fet';
    src: url('fonts/Tele-GroteskFet_43759.ttf') format('truetype');
}

@font-face {
    font-family: 'Tele Grotesk Halb';
    src: url('fonts/t036014t.ttf') format('truetype');
}

@font-face {
    font-family: 'Tele Grotesk Halb light';
    src: url('fonts/37081_t036013t.ttf') format('truetype');
}

html,
body {
    font-family: SansSerif, Arial;
    font-size: 16px;
    margin: 0;
}

.overflowH {
    overflow: hidden;
}

header {
    background-color: #fff;
    background-image: url("../img/Globe BGT@1x.jpg");
    font-size: 4.5rem;
    background-position-y: 99%;
}

header .header-content .header-content-inner h1 {
    text-transform: none;
    font-size: 6rem;
    margin-top: 2.6rem;
    color: #566D9B;
}

header .header-content .header-content-inner p {
    color: #3B3B3B;
    font-size: 1.6rem;
    letter-spacing: .11rem;
    margin: 0rem 12rem;
    padding-top: 1rem;
    line-height: 1.5;
}
.blog-title-txt{
    color: #ed0295;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}
.blogs-wrap a:hover{
  color:inherit;
}
.blog-first-container h1 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}
.blog-first-container h2 {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}
.blog-first-container h3 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    margin: 0;
}
.cat-details-section {
    background-color: transparent;
    background-size: 100% 100%;
}

.cat-details-section h2 {
    color: #fff;
    padding: 0 5rem;
    font-size: 32px;
    font-family: 'Tele Grotesk Ult';
    background-color: transparent !important;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1.4;
}

.cat-content {
    color: #fff;
    padding: 0 5rem;
    font-size: 1rem;
    font-size: 18px;
    font-family: 'Tele Grotesk Halb light';
    letter-spacing: 0.1rem;
    line-height: 1.4;
    margin-bottom: 40px;
}

.cat-details-section p,
.image-edge p {
    color: #000;
    font-size: 1.4rem;
    line-height: 1.68;
    padding: 0;
    font-family: SansSerif, Arial;
    letter-spacing: 0.2px;
}

.cat-details-section em {
    font-style: normal;
}

.cat-features-section {
    background-color: transparent;
    width: 100%;
    margin: auto;
}

.cat-features-section h2 {
    color: #FFFFFF;
    font-size: 4.3rem;
    margin-top: 1rem;
    letter-spacing: .1rem;
}

.cat-features-section .service-box {
    background-color: #fff;
    padding: 5px;
}

.cat-feature-box .text-center {
    padding: 1.25rem;
}

.cat-feature-box.mobile-padding .text-center {
    padding: 0.5rem;
}

.cat-hdg {
    display: inline-block;
    position: relative;
    font-family: Tele Grotesk Ult;
    font-size: 32px;
    letter-spacing: 1px;
    color: #ed0295;
}

.translateY {
    transform: translateY(-146px);
}

.tag-content {
    border: 1px solid #ed0295;
    border-radius: 15px;
    color: #ed0295;
    display: inline-block;
    font-size: 11px;
    padding: 5px 10px;
    margin-bottom: 7px;
    width: 71px;
    cursor: pointer;
    transition: 0.3s ease;
}

.tag-content:hover {
  background-color: #ed0295;
  color: white;
}

.cat-sep {
    display: block;
    height: 0.5rem;
    background-color: white;
    margin: 7% 15% 0;
}

.cat-icon {
    height: 10rem;
    width: 11.25rem;
    background-size: 100%;
    display: block;
    margin: 0 auto;
}

.cat-icon-adapt {
    background-image: url(../img/catamera/icon_radar.png);
}

.cat-icon-launch {
    background-image: url(../img/catamera/icon_rocket.png);
}

.cat-icon-evolve {
    background-image: url(../img/catamera/icon_time.png);
}

.cat-features-section .text-muted {
    font-family: SansSerif, Arial;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem 3.5rem 1.5rem;
    text-align: inherit;
}

.cat-features-section h3 {
    color: #FFFFFF;
    font-size: 20px;
    font-family: SansSerif, Arial;
    line-height: 1.4;
}

.btn-secondary,
.success-message {
    height: 66px;
    padding: 0 2rem;
    color: #fff;
    font-size: 1.3rem;
    text-transform: none;
    font-family: SansSerif, Arial;
    letter-spacing: 0.14rem;
    border-radius: 0;
    background-color: #566D9B;
}

#contact .input-group {
    margin-bottom: 2.5rem;
}

#contact input {
    height: 66px;
    border: 2px solid #566D9B;
    font-size: 1.4rem;
    font-family: SansSerif, Arial;
    padding: 0 20px;
    border-radius: 0;
    line-height: 66px;
}

#contact h2 {
    color: #566D9B;
    font-family: SansSerif, Arial;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    font-size: 1.875rem;
}

#contact h4 {
    margin-bottom: 4rem;
    font-size: 1.3rem;
}

#video h2 {
    font-size: 1.875rem;
    margin-bottom: 3rem;
}

.cat-reachus {
    font-size: 1.5rem;
}

a,
a:hover {
    color: #ffffff;
}

footer {
    background-color: #000;
    color: #fff;
    position: relative;
    font-size: 1.4rem;
    padding: 20px 80px;
    font-family: SansSerif, Arial;
    line-height: 1.8rem;
    letter-spacing: .06rem;
}

section {
    padding: 5rem 0;
    position: relative;
}

.cat-logo {
    margin: 13px auto;
    display: block;
}

.bg-primary.cat-details-section {
    padding-bottom: 12%;
}

.navbar {
    background: transparent;
    position: relative;
    border: none;
    margin-bottom: 0;
}

textarea:focus,
input:focus,
.form-control:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}

.cat-finnovatelogo {
    max-width: 10rem;
}

@media (min-width:320px) and (max-width: 640px) {
    .cat-details-section p,
    .image-edge p {
        font-size: 1.8rem;
    }
    .image-edge h6 {
        font-size: 1.2rem!important;
    }
}

@media (min-width:320px) {
    html,
    body {
        font-size: 50%;
    }
    header .header-content .header-content-inner p {
        margin: 0 5rem;
    }
    .cat-features-section h3 {
        font-size: 16px;
    }
    .cat-features-section .text-muted {
        font-size: 14px;
    }
}

@media (min-width:641px) {
    html,
    body {
        font-size: 70%;
    }
    header .header-content .header-content-inner p {
        margin: 0 12rem;
    }
    .cat-features-section h3 {
        font-size: 16px;
    }
    .cat-features-section .text-muted {
        font-size: 14px;
    }
}

@media (min-width:961px) {
    html,
    body {
        font-size: 90%;
    }
    .cat-features-section h3 {
        font-size: 18px;
    }
    .cat-feature-box {
        display: table;
    }
    .cat-feature-box .row {
        display: table-row;
    }
    .cat-feature-box .text-center {
        display: block;
    }
    .cat-features-section .text-muted {
        font-size: 16px;
    }
}

@media (min-width:961px) and (max-width:1280px) {
    .cat-features-section .text-muted {
        padding: 0.6rem 1.5rem 1.5rem;
    }
}

@media (min-width:1281px) {
    html,
    body {
        font-size: 100%;
    }
    .cat-features-section h3 {
        font-size: 20px;
    }
    .cat-features-section .text-muted {
        font-size: 16px;
    }
}

.success-message {
    display: none;
}

.email-error .btn-secondary {
    background-color: #ff8600;
}

#contact .email-error input {
    border-color: #ff8600;
}

.email-success .success-message {
    display: block;
    line-height: 66px;
    font-family: SansSerif, Arial;
    letter-spacing: 0;
}

.email-success .input-group {
    display: none;
}

img {
    max-width: 100%;
}

.p0 {
    padding: 0;
}

.image-edge .container div[class*='col-'] {
    position: absolute;
}

.v-align-transform {
    position: relative;
    z-index: 2;
}

.right {
    right: 0;
}

.image-edge .container {
    position: relative;
}

.image-edge h6 {
    color: #666;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 0.05rem;
}

.mb16 {
    margin-bottom: 1rem;
}

.mb40 {
    margin-bottom: 2rem;
}

.image-edge h3 {
    font-size: 3rem;
    line-height: 1.2;
    font-family: SansSerif, Arial;
}

.center-image {
    max-width: 60%;
    display: block;
    margin: auto;
}

.no-padding {
    padding: 0px;
}

.alt-section {
    background-color: #566D9B;
}
.alt-section-green {
    background-color: #5F9573;
}
.alt-section-teal {
    background-color: #4A696E;
}
.alt-section h3,
.alt-section p {
    color: #fff;
}
.alt-section h6 {
    color: #e6e6e6;
}
.video-container {
    height: 20rem;
    width: 45rem;
    margin: 0 auto;
}
.footer-text {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
}
.read-more {
    font-size: 1.4rem;
    margin-top: 2.5rem;
}
.left {
    float: left;
}
.mainNav-contents {
    padding: 17px 0;
    width: 80%;
    margin: auto;
}
.nav-contents {
    margin: 0 15px;
    float: right;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.nav-contents a {
    text-decoration: none;
}
.first-first-content {
    color: #fff;
    font-size: 42px;
    text-align: left;
    font-family: 'Tele Grotesk Halb';
    padding-left: 7.7rem;
}
.un-carrier {
    background-color: #fff;
    width: 335px;
    font-family: Tele Grotesk Ult;
    float: left;
    font-size: 60px;
    color: #ed0295;
}
.second-content {
    color: #fff;
    font-size: 67px;
    font-family: Tele Grotesk Ult;
    letter-spacing: 2px;
    width: 480px;
    padding-left: 20px;
}
.second-content div {
    background-color: #000;
}
.extra {
    width: 10px;
    height: 65px;
    margin-top: 9px;
    float: left;
    background: rgba(221, 221, 221, 0.74);
}
.header-content-inner-details {
    max-width: 496px;
    padding: 17px 0;
    color: #fff;
    font-size: 16.6px;
    font-family: 'Tele Grotesk Halb';
    letter-spacing: 0.3px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    padding: 17px 0;
    width: 180px;
}
button {
    color: #ed0295;
    border-radius: 100px;
    width: 180px;
    height: 56px;
    font-size: 10px;
    background-color: #fff;
    border: none;
    padding: 10px 0;
}
button:focus {
    outline: none;
}
.projects {
    font-size: 15px;
    float: left;
    color: #ed0295;
    margin-top: 20px;
}
.grid {
    width: 85%;
    margin: auto;
}
.container-margin {
    margin-top: 40px;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}
.names {
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 19px;
}
.names-content {
    color: #fff;
    font-size: 19px;
    font-family: 'Tele Grotesk Halb light';
    margin: auto;
    letter-spacing: 0.6px;
    width: 166px;
    height: 192px;
}
.top-pad {
    padding-top: 9%;
}
.text-left {
    text-align: left;
    width: 68%;
    margin: 0 auto;
    font-family: 'Tele Grotesk Halb';
    float: none;
    font-size: 20px;
    margin-bottom: 20px;
}
.margin-container {
    margin-bottom: 40px;
}
.cat-prize-section button {
    color: #fff;
    font-family: 'Tele Grotesk Ult';
    font-size: 19px;
    letter-spacing: 0.5px;
    background-color: #ed0295;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.career button {
    color: #ed0295;
    font-family: 'Tele Grotesk Ult';
    font-size: 20px;
    transition: 0.3s ease;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
button {
    transition: 0.3s ease;
}
button:hover {
    background-color: #ed0295;
    color: #fff;
}
.white-btn button {
    transition: 0.3s ease;
}
.white-btn button:hover {
    color: #ed0295;
    background-color: #fff;
}
.opposite-font {
    color: #fff;
}
.footer-size {
    font-size: 15px;
}
.left-contents {
    margin: 0 18px;
    color: #ed0295;
    cursor: pointer;
    opacity: 1;
    display: inline-block;
    font-size: 14px;
}
.left-contents:hover {
    opacity: 0.8;
}
.content-right {
    float: right;
    padding-right: 1rem;
    cursor: pointer;
}
.footer-cirle {
    width: 40px;
    display: inline-block;
    height: 40px;
    border-radius: 50%;
    margin: 0 9px;
    border: 1px solid;
}
.cat-features-section .special {
    color: #ed0295;
    font-size: 32px;
    font-family: 'Tele Grotesk Ult';
}
.no-padding {
    padding: 0;
}
.added-padding {
    padding-top: 3%;
}
.header-content-inner {
    max-width: 300px;
    margin: 0 auto;
}
.arrows {
    margin-top: 10px;
}
.bg-primary.cat-details-section {
    background-image: url(../img/BG3@1x.png);
    background-size: 100% 100%;
}
.cat-prize-section.BG4 {
    background-image: url(../img/BG4@1x.png);
}
.cat-prize-section.BG5 {
    background-image: url(../img/BG5@1x.png);
    background-size: 100% 100%;
}
#services-opposite {
    background-image: url(../img/BG5@1x.png);
    background-size: 100% 100%;
}
.cat-prize-section.BG6 {
    background-image: url(../img/BG6@1x.png);
    background-size: 100% 100%;
}
.mobile_version.margin {
    display: inline-block;
    margin: 0 10px;
}
.pad-bot {
    padding-bottom: 8%;
}
.mobile_version_content {
    width: 100%;
    margin: auto;
    text-align: center;
    min-width: 170px;
}
.footer_mobile {
    font-size: 18px !important;
    width: 67%;
    margin: 20px auto;
    min-width: 170px;
    text-align: center;
}
.footer_mobile_contents_privacy {
    color: #ed0295;
    display: inline-block;
}
.footer_mobile_contents_about {
    color: #ed0295;
    display: inline-block;
    padding-left: 6px;
}
.mobile_logo {
    width: 47%;
    margin: auto;
}
.added-extra-margin {
    margin-top: 16%;
}
.added-extra-padding {
    padding-top: 2%;
}
.cat-prize-section.BG6.career .container {
    padding-top: 8.9%;
}
.overflow-hide {
    overflow: hidden!important;
}
.cat-prize-section.BG6.career .margin-container {
    margin-top: 65px;
    margin-bottom: 0 !important;
}
#services {
    padding: 0;
}
#services-conduct {
    padding: 0;
    text-align: center;
}
#about {
    padding: 0;
}
#services-opposite {
    padding: 0;
}
.text-center.margin-container.head-contributor {
    padding-top: 10%;
}
#services-career {
    padding: 0;
    text-align: center;
}
.logoMain {
    float: left;
}
.mobile-font {
    font-family: 'Tele Grotesk Halb';
    font-size: 20px;
    width: 300px;
}
.cat-prize-section.BG5.opposite .added-extra-padding {
    padding-top: 12%;
}
.checkout {
    font-size: 20px;
    color: #fff;
    margin-top: 11px;
    font-family: 'Tele Grotesk Halb';
    margin-bottom: 4px;
}
footer .grid {
    width: 95%;
    margin-top: 34px;
}
footer .margin-container {
    font-family: 'Tele Grotesk Halb';
    padding-right: 13rem;
}
.content-margin {
    margin: 0 3px;
}
.header-span {
    font-family: 'Tele Grotesk Halb';
    font-size: 16px;
    width: 102px;
    height: 19px;
    display: inline-block;
}
.code-span {
    font-family: 'Tele Grotesk Halb';
    font-size: 20px;
    height: 24px;
    width: 127px;
    display: inline-block;
}
.career-span {
    font-family: 'Tele Grotesk Halb';
    font-size: 20px;
    width: 121px;
    height: 24px;
    display: inline-block;
}
.nav-contents a {
    color: #fff !important;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}

/*new changes*/
.overlay-container .overlay-state-con {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1005;
}
.overlay-container .overlay-state {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(24, 33, 44, 0.5);
}
.overlay-container .overlay-state-wrp {
    position: relative;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.overlay-container .overlay-box {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.cross-icon {
    color: #fff;
    position: absolute;
    font-size: 20px;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cross-icon:hover {
  opacity: 0.8;
}

.overlay-container .overlay-vertical-center {
    height: 100%;
    position: absolute;
    right: 26px;
    bottom: 44px;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}
.overlay-container .overlay-vertical-center .overlay-innerwrap {
    width: 100%;
    margin: 0;
    background: #fff;
    position: relative;
    left: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.overlay-container .overlay-vertical-center .overlay-innerwrap .overlay-name {
    font-size: 16px;
    font-size: 1rem;
    font-family: montserrat;
    color: #ed0295;
    font-weight: 700;
}
.overlay-content {
    text-align: left;
    font: 100 15px / 20px montserrat;
    color: #777;
    padding: 30px 4% 10px 4%;
    border-bottom: 1px solid #aaa;
}
.overlay-content .overlay-table {
    display: table;
    width: 100%;
}
.overlay-content .overlay-table .table-cell:first-child {
    width: 40%;
}
.overlay-content .overlay-table-header {
    font: 100 15px / 20px montserratLight;
    padding: 30px 0 15px 0;
    border-bottom: 1px solid #ccc;
}
.overlay-content .overlay-table-contents {
    font: 100 15px / 20px montserrat;
    color: #333;
    padding: 10px 0;
}
.heading-overlay {
    background-color: #ed0295;
    color: #fff;
    text-align: left;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 2rem 0 2rem 4rem;
}
.success-header {
    font-size: 35px;
    font-family: 'Tele Grotesk Fet';
    margin: 0 0 4px 0;
}
.success-header-content {
    font-family: 'Tele Grotesk Halb light';
    font-size: 20px;
    margin: 0;
}
.event-container {
    text-align: left;
    overflow: auto;
    padding: 2rem 4rem 2rem 4rem;
    height: 50vh;
}
.dashboard-container {
    pointer-events: initial;
}
.overlay-button-cover {
    padding: 10px 0 10px 0;
    border-top: 1px solid #eee;
}
.overlay-button-cover .overlay-button-wrap:first-child {
    margin-bottom: 0;
}
.overlay-container .overlay-button-wrap .form-button {
    display: inline-block;
    margin-right: 0;
}
.overlay-container .overlay-button-wrap .form-button button,
.overlay-container .overlay-button-wrap .secondary-button button {
    width: 120px;
    width: 7.5rem;
    height: 40px;
    height: 2.5rem;
    font-weight: 100;
    outline: none;
    border: none;
    background: #fff;
    color: #ed0295;
    font-family: montserrat;
    transition: all 0.2s ease;
}
.overlay-container .overlay-button-wrap .form-button button:hover,
.overlay-container .overlay-button-wrap .secondary-button button:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.overlay-container .overlay-button-wrap .secondary-button button {
    display: inline-block;
    background: #ed0295;
    color: #fff;
    border-radius: 20px;
    height: 37px;
    font-family: montserrat;
}
.career-span-overlay {
    font-family: 'Tele Grotesk Halb light';
    font-size: 13px;
    height: 24px;
    display: inline-block;
}
.markup-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .6px;
}
.markup-footer {
    position: absolute;
    bottom: 8%;
    left: 0%;
    right: 0%;
    margin: auto;
}
.markup {
    padding-bottom: 12px;
    border-radius: 3px;
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.75);
    min-height: 10rem;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}
.markup:hover {
  transform: translateY(-4px);
}
.footer-img {
    height: 16px;
    padding-left: 2px;
    width: 12px;
    padding-bottom: 5px;
    margin-top: 3px;
}
.content-img {
    height: 133px;
    padding-top: 19px;
    padding-bottom: 20px;
}
.content-img-and {
    height: 132px;
}
.star {
    display: inline-block;
    padding: 0 6px;
    border-right: 1px solid #fff;
}
.star:last-child {
    border: none;
}
.starb {
    display: inline-block;
    padding: 0 6px;
    border-right: 1px solid #fff;
}
.starb:last-child {
    border: none;
}
.markup-footer {
    font-size: 10px;
}

.project-row.row .text-center:nth-child(7n+1) .markup{
  background-color: #A3C629;
  color: #fff;
}
.project-row.row .text-center:nth-child(7n+2) .markup{
  background-color: #2C9991;
  color: #fff;
}
.project-row.row .text-center:nth-child(7n+3) .markup{
  background-color: #00223E;
  color: #fff;
}
.project-row.row .text-center:nth-child(7n+4) .markup{
  background-color: #566D9B;
  color: #fff;
}
.project-row.row .text-center:nth-child(7n+5) .markup{
  background-color: #7A061F;
  color: #fff;
}
.project-row.row .text-center:nth-child(7n+6) .markup{
  background-color: #E0002A;
  color: #fff;
}
.project-row.row .text-center:nth-child(7n+7) .markup{
  background-color: #1FA6CE;
  color: #fff;
}
.service-box-Android {
    background-color: #A3C629;
    color: #fff;
}
.service-box-TensorFlow {
    background-color: #FFFFFF;
    color: #000;
}
.service-box-Angular {
    background-color: #681119;
    color: #fff;
}
.service-box-Meta {
    background-color: #00223E;
    color: #fff;
}
.service-box-Lazo {
    background-color: #1FA6CE;
    color: #fff;
}
.overlay-button-cover .btn {
    padding: 0;
}
.overlay-text {
    color: #ed0295;
    font-size: 18px;
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 17px;
    padding: 0 7px;
}
.overlay-heading {
    background-color: #ed0295;
    color: #fff;
    text-align: left;
    padding: 2rem 0 2rem 5rem;
}
.overlay-heading-topic {
    font-size: 35px;
    font-family: 'Tele Grotesk Fet';
}
.overlay-heading-content {
    font-family: 'Tele Grotesk Halb light';
    font-size: 20px;
}
.overlay-content {
    background-color: #fff;
    color: #000;
    padding: 10px;
}
.overlay-content-topic {
    margin-bottom: 10px;
    font-family: 'Tele Grotesk Fet';
    font-weight: 600;
    font-size: 19px;
}
.overlay-content-details {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Tele Grotesk Halb';
}
.dots {
    position: absolute;
    right: 8px;
}
.dot-option {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 3px;
}
.display-none {
    display: none;
}
.btn:active {
    box-shadow: none;
}
#services .overlay-vertical-center {
    position: relative;
    bottom: 0;
    right: 0;
    padding-top: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    height: initial;
}
.requestAccess.overlay-container {
    position: fixed;
    z-index: 10000;
}
.header-button {
    border: none;
    position: absolute;
    right: 25px;
    top: 36px;
}
.header-button button {
    color: #ed0295 !important;
    width: 108px !important;
    background-color: #fff !important;
}
.header-button .career-span-overlay {
    font-family: 'Tele Grotesk Ult';
    font-size: 14px;
}
.content-img-angular {
    height: 51px;
    padding-bottom: 5px;
}

.event-container-angular {
    text-align: left;
    overflow: auto;
    padding: 2rem 4rem;
    height: 60vh;
}
.web-content {
    margin-bottom: 20px;
}
.web-content-script {
    margin-bottom: 20px;
    width: 222px;
}
.topic {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 7px;
    font-size: 15px;
}
.topic-share {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 12px;
    font-size: 15px;
}
.share-img {
    height: 50px;
    margin-right: 5px;
}
.topic-content {
    margin-bottom: 7px;
}
.head-content {
    margin-bottom: 7px;
}
.table-head {
    font-family: 'Tele Grotesk Ult';
    width: 80px;
    margin-bottom: 7px;
    font-size: 15px;
}
.table-head-license {
    font-family: 'Tele Grotesk Ult';
    width: 100px;
    margin-bottom: 7px;
    font-size: 15px;
}
.first-container {
    border-right: 2px solid #eee;
    width: 50%;
    padding-right: 30px;
}
.first-container,
.second-container {
    float: left;
}
.second-container {
    padding-left: 20px;
}
.topic,
.topic-content {
    text-align: left;
}
.event-table {
    display: block;
    width: 216px;
}
@media (max-width: 1123px) and (min-width: 1024px) {
    #services .grid {
        width: 92%;
    }
}
@media (max-width: 1024px) and (min-width: 992px) {
    .grid {
        width: 88%;
    }

    .cat-prize-section.BG6.career .container {
        padding-top: 14%;
    }
}
@media (max-width: 992px) and (min-width: 769px) {
    .cat-features-section.row.project {
        background-size: 100% 92%;
    }

    #about .grid {
        width: 100%;
    }

    #about .cat-details-section ul li {
        margin-bottom: 43px;
    }

    .conduct {
        overflow: auto;
    }

    .contributor {
        overflow: auto;
    }

    .cat-prize-section.BG6.career .margin-container {
        margin-top: 100px;
    }
}
@media (max-width: 504px) and (min-width: 427px) {
    .head-contributor {
        padding: 0 42px;
    }

    .first-first-content {
        font-size: 30px;
    }

    .un-carrier {
        width: 303px;
        font-size: 53px;
    }

    .second-content {
        font-size: 55px;
        width: 408px;
    }

    #services {}
}
@media (max-width: 649px) and (min-width: 469px) {
    .mobile_version_content {
        width: 172px;
    }

    .footer_mobile {
        width: 172px;
    }

    .mobile_logo {
        width: 119px;
    }
}
@media (max-width: 669px) and (min-width: 427px) {
    .conduct {
        overflow: auto;
    }

    .contributor {
        overflow: auto;
    }

    .cat-prize-section.BG6.career .margin-container {
        margin-top: 89px;
    }
}
@media (max-width: 1021px) and (min-width: 992px) {
    #services .grid {
        width: 97%;
    }
}
@media (max-width: 990px) {
    .image-edge .container div[class*='col-'] {
        position: relative;
        top: 0;
        transform: none;
        -webkit-transform: none;
    }

    .first-container {
        padding-right: 0;
        width: 100%;
        border: none;
    }

    .second-container {
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }

    .web-content-script {
        width: 100%;
    }

    .head-content,
    .topic-content {
        font-size: 13px;
    }
}
@media (max-width: 768px) and (min-width: 426px) {
    footer .margin-container {
        padding-right: 0;
    }
    .cat-features-section .special {
        font-size: 2.75rem;
    }
    .cat-features-section.row.project .mobile-font {
        width: 100%;
        font-size: 19px;
    }
    .bg-primary.cat-details-section {
        background-size: 164% 100%;
    }
    .cat-details-section ul li {
        margin-bottom: 32px;
    }
    .cat-prize-section.BG4 .grid {
        width: 100%;
    }
    .cat-prize-section.BG5 .grid {
        width: 100%;
    }
    .cat-prize-section.BG5.opposite .added-extra-padding {
        padding-top: 13%;
    }
    .cat-prize-section.BG6.career .container {
        padding-top: 22%;
    }
}
@media (max-width:426px) {
    .event-container-angular {
        overflow-x: hidden;
    }
}
@media (max-width:426px) and (min-width: 376px) {
    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    .tab {
        padding-left: 15px !important;
    }

    .markup {
        width: 100%;
    }

    .service-box-Android,
    .third,
    .service-box-Lazo,
    .fourth {
        float: right;
    }

    .nav-contents {
        display: none;
    }

    .header-content-inner {
        margin: auto;
        width: 100%;
    }

    .no-padding {
        padding-left: 18px;
    }

    .mobile-padding {
        padding: 0;
    }

    .grid {
        width: 100%;
    }

    .content-right {
        padding-right: 30px;
    }

    .footer-content {
        display: none;
    }

    .names-content {
        width: 45%;
    }

    .container.grid.container-margin .desktop {
        display: none;
    }

    .nav-contents {
        font-size: 12px;
        padding-top: 2px;
    }

    .header-content-inner-details {
        font-size: 17px;
    }

    .arrows {
        display: none;
    }

    .cat-features-section.row.project {
        padding-top: 0;
    }

    .cat-features-section.row.grid.project .cat-feature-box {
        margin-top: 0;
    }

    .cat-features-section .special {
        font-size: 2.75rem;
    }

    .mobile-font {
        font-size: 20px;
    }

    .cat-details-section h2 {
        font-size: 2.75rem;
    }

    .cat-content {
        font-size: 20px;
        width: 86%;
        margin: auto;
        display: inline-block;
    }

    .cat-hdg {
        font-size: 2.75rem;
        width: 73%;
    }

    .cat-prize-section.BG4 {
        height: 583px;
    }

    .cat-prize-section.BG4 .text-left {
        font-size: 16px;
        width: 100%;
    }

    #services {}

    .cat-features-section.row.project {
        background-size: 100% auto;
    }

    \ .cat-prize-section.BG4 .grid {
        margin-top: 0px;
    }

    .cat-prize-section.BG5.opposite .grid {
        margin-top: 0px;
    }

    .mobile-margin {
        margin-top: 76px;
    }

    .cat-prize-section.BG6 .mobile-margin {}

    .cat-prize-section.BG5.opposite .margin-container {
        font-size: 16px;
        width: 100%;
    }

    #services-career {}

    .cat-prize-section.BG6 {}

    .cat-prize-section.BG6 .grid {
        margin-top: 0px;
    }

    footer {
        padding: 20px 72px;
    }

    footer {}

    footer .grid {
        margin-top: 0;
        width: 100%;
    }

    .mainNav-contents {
        width: 95%;
        position: relative;
    }

    header .header-content {
        padding: 40px 15px 100px;
    }

    .header-content-inner {
        max-width: none;
    }

    .first-first-content {
        font-size: 31px;
        padding-left: 11.7rem;
    }

    .extra {
        height: 51px;
    }

    .un-carrier {
        width: 268px;
        font-size: 49px;
    }

    .second-content {
        font-size: 52px;
        width: 388px;
    }

    .mobile-width {
        width: 85%;
        margin: auto;
    }

    .bg-primary.cat-details-section {
        background-size: 274% 100%;
    }

    .cat-prize-section.BG4 .added-extra-padding {
        padding-top: 13%;
    }

    .cat-prize-section.BG5 {
        background-size: 274% 100%;
    }

    .cat-features-section.row.project {
        height: 1108px;
    }

    .checkout {
        width: 76%;
        margin: auto;
        margin-top: 29px;
        margin-bottom: 13px;
    }
}
@media (min-width: 1439px) {
    .cat-prize-section.BG4 {
        background-size: 100%;
    }
}
@media (max-width: 892px) {
    * {
        background-size: cover!important;
    }
}
@media (max-width: 767px) {
    .clearfix.desktop {
        display: none;
    }

    .left-contents {
        margin: 0 15px;
    }

    #services .overlay-container .overlay-button-wrap .secondary-button button {
        width: 100px;
    }

    header .overlay-container .overlay-vertical-center .overlay-innerwrap {
        border-radius: 3px;
        padding: 20px 0 1px 0;
    }

    header .requestAccess.overlay-container {
        position: fixed;
        z-index: 10000;
    }

    header .overlay-container .overlay-vertical-center {
        padding-top: 60px;
    }

    .nav-contents {
        display: none;
    }
}
@media (max-width: 767px) and (min-width: 426px) {
    header .overlay-container .overlay-vertical-center {
        /*width: 32%;*/
    }

    header .overlay-text {
        margin-bottom: 27px;
        font-size: 30px;
    }

    .dots {
        right: 26px;
    }

    .header-content-inner {
        max-width: 483px;
    }

    .arrows {
        display: none;
    }

    #services {}

    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    .service-box-Android,
    .third,
    .service-box-Lazo,
    .fourth {
        float: right;
        margin-right: 30px;
    }

    .service-box-Feral,
    .second,
    .service-box-Angular,
    .fifth {
        margin-left: 20px;
    }

    .markup {
        width: 100%;
    }
}
@media (min-width: 767px) {
    .dots {
        display: none;
    }

    .container.mobile {
        display: none;
    }
}
@media (min-width: 650px) {
    .mobile_version_content {
        display: none;
    }

    .footer_mobile {
        display: none;
    }

    .mobile_logo {
        display: none;
    }
}
@media (max-width: 650px) {
    footer .container.grid .row {
        display: none;
    }

    .footer-content {
        display: none;
    }
}
@media (max-width: 426px) {
    .header-button {
        display: none;
    }
}
@media (max-width: 376px) and (min-width: 321px) {
    .mobile_logo {
        width: 38%;
    }

    #services .overlay-vertical-center {
        margin: 0 auto;
    }

    #services .success-header {
        font-size: 3rem;
    }

    #services .success-header-content {
        font-size: 2.25rem;
    }

    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    .cat-features-section.row.project .grid {
        width: 95%;
    }

    .overlay-container .overlay-vertical-center {
        right: 10px;
    }

    .nav-contents {
        display: none;
    }

    .cat-prize-section.BG6.career .container {
        padding-top: 36%;
    }

    .cat-content {
        font-size: 20px;
        padding: 0;
        width: 100%;
        margin: auto;
        display: inline-block;
    }

    .cat-features-section.row.project {}

    .bg-primary.cat-details-section {
        background-size: 201% 100%;
    }

    .cat-prize-section.BG4 {}

    .cat-prize-section.BG4 .grid {
        width: 100%;
    }

    .cat-prize-section.BG5 .grid {
        width: 100%;
    }

    .cat-prize-section.BG6 .grid {
        width: 100%;
    }

    .cat-prize-section.BG5 {}

    .mobile_version_content {
        width: 62%;
    }

    .footer_mobile {
        width: 160px;
    }

    #services-conduct {}

    .cat-prize-section.BG4 {
        background-size: 100% 101%;
    }
}
@media (max-width: 321px) {
    .success-header {
        font-size: 29px;
    }

    #services .overlay-vertical-center {
        width: 95%;
    }

    .overlay-container .overlay-vertical-center {
        padding-top: 30px;
    }

    .event-container {
        height: 60vh;
    }

    .event-container-angular {
        height: 409px;
    }

    .mobile_version_content {
        width: 64%;
    }

    .footer_mobile {
        width: 64%;
    }

    .mobile_logo {
        width: 37%;
    }

    #services .overlay-vertical-center {
        /*left: 13px;*/
        margin: 0 auto;
        /*padding-left: 0;*/
    }

    .tab.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center:nth-child(even) div {
        margin-right: 0;
    }

    .cat-features-section.row.project .grid {
        width: 95%;
    }

    .overlay-container .overlay-vertical-center {
        /*width: 40%;*/
    }

    .nav-contents {
        display: none;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .cat-content {
        font-size: 20px;
        padding: 0;
        width: 100%;
        margin: auto;
        display: inline-block;
    }

    button {
        width: 158px;
        height: 47px;
    }

    footer {
        padding: 20px 72px;
    }

    .cat-features-section.row.project {}

    .bg-primary.cat-details-section {
        background-size: 201% 100%;
    }

    .cat-prize-section.BG4 {}

    .cat-prize-section.BG4 .grid {
        width: 93%;
    }

    .cat-prize-section.BG5 .grid {
        width: 93%;
    }

    .cat-prize-section.BG6 .grid {
        width: 100%;
    }
    /* .cat-prize-section.BG5 {
        height: 786px;
    }

    #services-career {
        top: -823px;
    }

    .cat-prize-section.BG6 {
        height: 428px;
    }*/

    .cat-prize-section.BG6.career .container {
        padding-top: 48%;
    }

    .mobile-font {
        font-size: 19px;
        width: 274px;
    }
}
.container.grid.career {
    padding-bottom: 6%;
}
@media (max-width: 376px) {
    .nav-contents {
        margin: 0 7px;
    }

    .cat-prize-section.BG4 {
        background-image: url(../img/Mobile%20BG4@1x.png);
        background-size: 100% 100%;
    }

    .cat-features-section.row.project .grid {}

    .cat-prize-section.BG5 {
        background-size: 274% 100%;
    }

    .cat-prize-section.BG5.opposite .margin-container {
        font-size: 18px;
        width: 96%;
    }

    .cat-hdg {
        font-size: 2.75rem;
        width: 85%;
    }

    .checkout {
        width: 84%;
        margin: auto;
        margin-top: 29px;
        margin-bottom: 13px;
    }
    /* .cat-prize-section.BG6.career .container{
        padding-top: 36%;
    }*/
    /*.grid{
        width: 100%;
    }*/

    .cat-prize-section.BG4 .added-extra-padding {
        padding-top: 13%;
    }

    .cat-prize-section.BG4 .text-left {
        width: 100%;
        padding: 0 18px;
        font-size: 18px;
    }

    footer .container.grid .row {
        display: none;
    }
    /*.footer-content{
        display: none;
    }*/

    .container.grid.container-margin .desktop {
        display: none;
    }

    .arrows {
        display: none;
    }

    .logoMain {
        width: 33%;
    }

    .mainNav-contents {
        width: 93%;
        position: relative;
    }

    .nav-contents {
        font-size: 11px;
    }

    header .header-content {
        padding: 40px 15px 100px;
    }

    .header-content-inner {
        width: 100%;
    }

    .first-first-content {
        font-size: 33px;
    }

    .extra {
        height: 36px;
    }

    .un-carrier {
        width: 208px;
        font-size: 38px;
    }

    .second-content {
        font-size: 37px;
        width: 285px;
    }
    /* .bg-primary.cat-details-section{
        height: 877px !important;
    }*/
    /* .cat-prize-section.BG5{
        height: 724px !important;
    }*/
    /*#services-career{
        top: -335px !important;
    }*/

    footer {
        padding: 20px;
    }

    footer .grid {
        margin-top: 0;
    }
}
@media (max-width: 655px) and (min-width: 426px) {
    #services {}
}
@media (max-height: 414px) {
    #services .overlay-vertical-center {
        padding-top: 20px;
        width: 90%;
    }

    .event-container {
        height: 60vh;
    }

    .header-button {
        top: 19px;
    }

    .heading-overlay {
        padding: 1rem 0 1.4rem 4rem;
    }

    .event-container-angular {
        height: 60vh;
    }
}
.project-row.row {
    margin: 0;
}
a.footer-links {
    color: #ed0295;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
    opacity: .8;
}

/*blogs*/
.blogs-wrap * {
    font-size: inherit;
    color: inherit;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
.blog-heading-overlay {
    background-color: #ed0295;
    color: #fff;
    text-align: left;
    padding: 1rem 0 2rem 6rem;
    height: 18vh;
}
.blog-success-header {
    font-size: 4vh;
    font-family: 'Tele Grotesk Fet';
    margin: 0 0 4px 0;
}
.blog-success-header-content {
    font-family: 'Tele Grotesk Halb light';
    margin: 0;
    font-size: 2.2vh;
}
.blog-tag-content {
    border: 1px solid #ed0295;
    border-radius: 15px;
    color: #ed0295;
    display: inline-block;
    font-size: 11px;
    padding: 5px 10px;
    margin-bottom: 7px;
    min-width: 71px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.blog-tag-content:hover {
  background-color: #ed0295;
  color: white;
}
.blog-web-content-script {
    margin-bottom: 20px;
    max-width: 252px;
}
.blog-topic {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 9px;
    font-size: 16px;
}
.blog-topic-share {
    font-family: 'Tele Grotesk Ult';
    margin-bottom: 18px;
    font-size: 16px;
}
.blog-share-img {
    height: 50px;
    margin-right: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.blog-share-img:hover {
  opacity: 0.8;
}

.blog-first-container {
    border-right: 2px solid #ddd;
    width: 70%;
    padding-right: 24px;
    padding-left: 6rem;
}
.blog-first-container,
.blog-second-container {
    float: left;
    padding-top: 2rem;
    height: 82vh;
    overflow: auto;
}
.blog-second-container {
    padding-left: 20px;
    width: 30%;
}
.blog-request-submit-widget {
    position: relative;
}
.blog-head-wrap {
    top: 50%;
    transform: translateY(-50%);
    left: 6rem;
    position: absolute;
}
.blog-web-content {
    padding-bottom: 24px;
}
.blog-year {
    font-size: 14px;
    color: #ed0295;
    padding-bottom: 4px;
    cursor: pointer;
}
.blog-year:hover {
  opacity: 0.8;
}
.blog-topic-content {
    margin-bottom: 7px;
    font-size: 14px;
}
.blog-title-txt {
    color: #ed0295;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.blog-title-date {
    font-size: 12px;
    color: #666;
    padding-bottom: 6px;
}
.blog-title-desc {
    font-size: 13px;
    padding-bottom: 15px;
}
.blog-title-more {
    text-transform: uppercase;
    font-size: 12px;
    color: #ed0295;
    margin-bottom: 24px;
    cursor: pointer;
    display: inline-block;
}
.blog-title-wrap {
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .blog-first-container,
    .blog-second-container {
        width: 100%;
        height: initial;
        padding-left: 6rem;
    }
}
.blog-post-head {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 1.3vh 0 0.8vh;
}
.blog-breadcrumb {
    text-transform: capitalize;
    font-size: 12px;
}
.blog-breadcrumb span {
    padding: 0 7px 0 0;
}
.blog-title-date.bp-date {
    padding-bottom: 20px;
}
.blog-title-txt.bp-txt {
    color: #000;
    padding-bottom: 10px;
    font-size: 18px;
}
.blogs-wrap a,
.blogs-wrap a:hover,
.blogs-wrap a:active,
.blogs-wrap a:visited {
    text-decoration: none;
}
.blog-first-container a,
.blog-first-container a:hover,
.blog-first-container a:active,
.blog-first-container a:visited {
    text-decoration: none;
    color: #ed0295;
}
