<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
      <div class="moonContainer" style="height:100vh" >
        {{ partial "nav.html" . }}
        <main id="fourzerofour-container"  style="margin-top: 15vh;">
            <div style="height: 20vh;">
                <h2 id="fourzerofourheader" style="padding-bottom: 8px">
                    404
                </h2>
                <div id="pinkshadow"></div>
            </div>
            <div class="header-content-inner-details" >
                <div class="mobile-width fourzerofourtext lost">Oops, looks like you got lost in space, lets see if we can get you back</div>
            </div>
            <div class="btn white-btn" style="margin-top: 6vh;">
                    <a href="./index.html"><button type="input" id="fourzerofourbutton"><span class="code-span">HOME</span></button></a>
            </div>
            <div id="fourzerofourbottom">
                <div class="header-content-inner-details fourzerofourtext" style="font-size: .8em;">
                    <div class="mobile-width fourzerofourtext adjust">If the problem persists, please try again one more time or contact below</div>
                </div>
                <div class="header-content-inner-details adjust" style="font-size: .8em; color: #f7006e;">
                    <div class="mobile-width">http://bitbucket.com/username/link</div>
                </div>
            </div>
        </main>
      </div>
      {{ partial "js.html" . }}
      {{ template "_internal/google_analytics.html" . }}
  </body>
</html>