{{ define "main" }}
    {{ if .Site.Params.hero }}
        {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Data.projects }}
        {{ partial "projects.html" . }}
    {{ end }}

    {{ partial "blog.html" . }}
    
    {{ if .Site.Params.code }}
        {{ partial "code.html" . }}
    {{ end }}
    <div class="pink-bg">
        {{ if .Site.Params.license }}
            {{ partial "license.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Params.careers }}
            {{ partial "careers.html" . }}
        {{ end }}
    </div>
{{ end }}