<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
        {{ partial "additional-blog-head.html" . }}
    </head>
    <body id="page-top"> 
        {{ partial "blog-header.html" . }}
        
        <section id="main">
            <div>
                {{ $paginator := .Paginate (where .Data.Pages "Section" "blog") }}
                {{ range $paginator.Pages }}
                    {{ if ne .File.BaseFileName "index" }}
                        <article>
                            {{ if .Params.thumbnail }}
                            <div>
                                <figure>
                                <a href="{{ .Permalink }}">
                                    <img src="{{ .Params.thumbnail | absURL }}" alt="{{ .Title }}" />
                                </a>
                                </figure>
                            </div>
                            {{ end }}
                            <div>
                                <a href="{{ .Permalink }}">
                                    <h4>{{ .Title }}</h4>
                                </a>
                                <div class="metadata">
                                    <i class="fi-clock"></i>
                                    <time datetime="{{ .Date.Format "2006-01-02" }}">{{.Date.Format "January 02, 2006"}}</time>
                                </div>
                                <div class="post-list-summary">
                                    <p>
                                        {{ $page := . }}
                                        {{ with .Description }}
                                        {{ . | markdownify }} <a href="{{ $page.RelPermalink }}">[Read more...]</a>
                                        {{ else }}
                                        {{ .Summary | markdownify }}{{ if .Truncated }} <a href="{{ $page.RelPermalink }}">[Read more...]</a>{{ end }}
                                        {{ end }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {{ end }}
                {{ end }}
            </div>
        </section>


        {{ if .Site.Params.footer }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "js.html" . }}
        {{ partial "blog-js.html" . }}

        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>