{{ define "blog" }}
    <div class="blog-heading-overlay">
        <div class='blog-head-wrap'>
            <div>
                {{ partial "nav.html" .}}
            </div>
            <div>
                <h1 class="secondHeader">{{ .Title | markdownify }}</h1>
                <p class="blogParagraph">By: {{ .Site.Params.name }}</p>
            </div>
        </div>
    </div>

    <div class="blog-event-container-angular">
        <div class="blog-first-container">
            {{ $paginator := .Paginate (where .Data.Pages "Section" "blog") }}
            {{ range $paginator.Pages }}
                {{ if ne .File.BaseFileName "index" }}
                    <div class='blog-title-wrap'>
                        <div class="blog-title-txt">
                            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                        </div>
                        <div class='blog-title-date'>
                            {{.Date.Format "January 02, 2006" }}
                        </div>
                        <div class='blog-title-desc'>
                            {{ $page := . }}
                            {{ with .Description }}
                            {{ . | markdownify }}
                            {{ else }}
                            {{ .Summary | markdownify }}
                            {{ end }}
                        </div>
                        <a href="{{ .Permalink }}" class='blog-title-more'>[Read more...]</a>
                    </div>
                {{end}}
            {{end}}
        </div>
        {{ partial "blog-sidebar.html" . }}
    </div>
{{ end }}