<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "blog-head.html" . }}
    </head>
    <body>
        <div class="blog-overlay-innerwrap  blogs-wrap">
            <div class="blog-request-submit-widget">
                <div class="blog-heading-overlay">
                    <div class='blog-head-wrap'>
                        <div class='blog-breadcrumb'> 
                           {{ partial "blog-nav.html" . }}
                        </div>
                        <h2 class='blog-post-head' style="font-size: 2.5rem; padding-left: 7vw;">{{ .Title }}</h2>
                        <h2 class="blog-success-header-content" style="font-size: 1.25rem; padding-left: 7vw; padding-bottom: 1vh;">{{ .Site.Params.name }}</h2>
                    </div>
                </div>
                <div class="blog-event-container-angular">
                    <div class="blog-first-container">
                        <div class='blog-title-date bp-date'>
                            {{ .Date.Format "2006-01-02" }}
                        </div>
                        <div class='blog-title-desc'>
                            {{ .Content }}
                        </div>
                        {{ template "_internal/disqus.html" . }}
                    </div>
                    {{ partial "blog-sidebar.html" . }}
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>