{{ "<!-- ABOUT -->" | safeHTML }}
<section id="about">
    <div class="bg-primary cat-details-section">
        <div class="separator pull-up">
            <svg class="pink-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
                <polygon points="0 0 100 0 0 10" />
            </svg>
        </div>
        <div class="adjust clearfix">
            <div class="container grid added-extra-margin">
                <div class="row">
                    <div class="text-center">
                        <h2 class="section-heading cat-details-section">
                            {{ with .Site.Params.about.headline }}
                                {{ . | markdownify }}
                            {{ end }}
                        </h2>
                        <span class="section-heading cat-content">
                            {{ with .Site.Params.about.description }}
                                {{ . | markdownify }}
                            {{ end }}
                        </span>
                    </div>
                </div>
            </div>

            <div class="container grid container-margin">
                <div class="clearfix">
                    <div class="owl-carousel owl-theme">
                        {{ range sort .Site.Data.about "order" }}
                            {{ if eq .order 1 }}
                            <div>
                            {{ else }}
                            <div>
                            {{ end }}
                                <div class="community-pic circle">
                                    <img class="" src="img/{{ .icon }}" />
                                </div>
                                <div class="names">{{ .name }}</div>
                                <div class="names-content">
                                    {{ .bio }}
                                    <div class="names-links">
                                        <a href="{{ .linkedInUrl }}" target="_blank"><i class="icon-icon-linkedin"></i></a>
                                        <a href="{{ .githubUrl }}" target="_blank"><i class="icon-icon-github"></i></a>
        								<a href="{{ .twitterUrl }}" target="_blank"><i class="icon-icon-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <!--add svg for diagonal border-->
        <div class="separator pull-down"><svg class="pink-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
            <polygon points="0 0 100 10 0 10" />
        </svg></div>
    </div>
</section>
