{{ "<!-- BLOG -->" | safeHTML }}
<!--add blog section-->
<section id="blog">
  <!-- //change removed bg5-->
  <div class="cat-prize-section  opposite">
    <div class="container grid clearfix added-extra-padding text-center">
      <div class="row">
        <div class="col-lg-12 margin-container">
          <h2 class="">
                        <!-- //change added top pad -->
                        <span class="cat-hdg opposite-font"> BLOG
                        </span></h2>
        </div>
        <div class="col-lg-12 text-left margin-container opposite-font contributor">
          Keep up to date with the latest posts from T-Mobile. Providing interesting content curated for you.
        </div>
      </div>
      <div class="row">
        <!--remove row class and add row div above-->
        <div class="cat-feature-box added-padding mobile-padding col-lg-12 col-md-12 col-sm-12">
          <div class="blog-row mobile-padding">
            <!--remove bootstrap grid classes-->
            <div class="markup" onclick="openLink('blog.html')">
              <div class="markup-text">
                <div class="blog-tile-header">
                  10 Trends for 2017
                </div>
                <div class="blog-tile-subheader">
                  <!--change text-->
                  Jun 22, 2010 | 10 min read
                </div>
              </div>
              <div class="markup-header">
                <!--remove corner logo-->
                <div class="corner-tag">
                  BLOG
                </div>
              </div>
              <!-- //change removed img and added header-->
              <div class="markup-footer">VIEW POST
              </div>
            </div>
            <div class="markup" onclick="openLink('blog.html')">
              <div class="markup-text">
                <div class="blog-tile-header">
                  Learn Angular 2.0
                </div>
                <div class="blog-tile-subheader">
                  <!--change text-->
                  Jun 22, 2010 | 10 min read
                </div>
              </div>
              <div class="markup-header">
                <!--remove corner logo-->
                <div class="corner-tag">
                  PROGRAMMING
                </div>
              </div>
              <!-- //change removed img and added header-->
              <div class="markup-footer">VIEW POST
              </div>
            </div>
            <div class="markup" onclick="openLink('blog.html')">
              <div class="markup-text">
                <div class="blog-tile-header">
                  10 Things Devs Need
                </div>
                <div class="blog-tile-subheader">
                  <!--change text-->
                  Jun 22, 2010 | 10 min read
                </div>
              </div>
              <div class="markup-header">
                <!--remove corner logo-->
                <div class="corner-tag">
                  DEVELOPMENT
                </div>
              </div>
              <!-- //change removed img and added header-->
              <div class="markup-footer">VIEW POST
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="btn white-btn">
          <button type="input"><span class="blog-span">VIEW ALL POSTS</span></button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="separator pull-up"><svg class="pink-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="0 0 100 0 0 10" />
</svg></div>
