{{ "<!-- BLOG -->" | safeHTML }}
<section id="blog">
  <div class="cat-prize-section  opposite">
    <div class="container grid clearfix added-extra-padding text-center">
      <div class="row">
        <div class="col-lg-12 margin-container">
            <h2 class="">
                <!-- //change added top pad -->
                <span class="cat-hdg opposite-font">
                    {{ with .Site.Params.blog }}
                        {{ .headline | markdownify }}
                    {{ end }}
                </span>
            </h2>
        </div>

        <div class="col-lg-12 text-left margin-container opposite-font contributor">
            {{ with .Site.Params.blog }}
                {{ .summary | markdownify }}
            {{ end }}
        </div>
      </div>
      <div class="row">
          <div class="cat-feature-box added-padding mobile-padding col-lg-12 col-md-12 col-sm-12">
              <div class="blog-row mobile-padding">
                  {{ $paginator := .Paginate (where .Data.Pages "Section" "blog") }}
                  {{ range first 4 $paginator.Pages }}
                      {{ if ne .File.BaseFileName "index" }}
                        <div class="power markup markup-override" onclick="window.open('{{ .Permalink }}')">
                            <div class="markup-header">
                                <div class="blogContainer">
                                    <div class="smallBlogContainer">
                                        <div class="blog-tile-header chop" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</div>
                                        <p class="blog-tile-paragraph">{{ slicestr .Summary 0 120| markdownify }}...</p>
                                    </div>  
                                    <div class="authorContainer">
                                        <h5>By: {{ .Site.Params.name }}</h5>
                                        <div class="blog-tile-subheader">
                                                {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}  |
                                                {{ .ReadingTime }} minutes
                                            </div>
                                    </div>
                                       
                                </div> 
                            </div>
                        </div>
                      {{ end }}
                  {{ end }}
              </div>
          </div>
      </div>
      <div class="row">
        <div class="btn white-btn">
          <button type="input" onclick="window.open('{{ .Site.Params.blog.navigate_to }}')"><span class="blog-span">VIEW ALL POSTS</span></button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="separator pull-up">
  <svg class="pink-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="0 0 100 0 0 10" />
  </svg>
</div>
