{{ "<!-- CODE OF CONDUCT -->" | safeHTML }}
<section id="services-conduct">
  <div class="cat-prize-section">
    <div class="container grid added-extra-padding">
      <div class="row">
        <div class="col-lg-12 text-center margin-container">
          <h2 class="">
                        <span class="cat-hdg">
                            {{ with .Site.Params.code.headline }}
                                {{ . | markdownify }}
                            {{ end }}
                        </span>
                    </h2>
        </div>
        <div class="col-lg-12 text-left conduct">
          {{ with .Site.Params.code.summary }} {{ . | markdownify }} {{ end }}
        </div>
      </div>
      <div class="btn white-btn">
        <button type="input" onclick="openPageInModal('{{ .Site.Params.code.cta.navigate_to }}');">
                    <span class="code-span">
                        {{ with .Site.Params.code.cta.text }}
                            {{ . | markdownify }}
                        {{ end }}
                    </span>
                </button>
      </div>
    </div>
  </div>
</section>
