{{ "<!-- EVENTS -->" | safeHTML }}
<section id="events">
    <div class="bg-primary cat-features-section">
        <div class="container grid">
            <div class="row">
                <div class="col-lg-12 text-center margin-container">
                    <h2>
                        <span class="cat-hdg">
                            {{ .Site.Params.events.headline}}
                        </span>

                    </h2>
                    <span class="section-heading cat-content text-black">
                            Quis, consequat sed metus. Etiam faucibus elit tempor, convallis felis no
                    </span>
                </div>
            </div>
            <div class="row project-row">
                <div class="owl-carousel owl-theme"></div>
            </div>
        </div>
    </div>
</section>