{{ "<!-- EVENTS -->" | safeHTML }}
<section id="events">
    <div class="bg-primary cat-features-section">
        <div class="container grid text-center">
            <div class="section-heading cat-details-section">
                <h2 class="section-heading">
                    {{.Site.Params.events.headline}}
                </h2>
                <span class="section-heading">
                        {{ .Site.Params.events.summary}}
                    </span>
            </div>
            <div class="container grid container-margin">
                <div class="events-separator">
                    <div id="loading-bar-spinner" class="spinner">
                        <div class="spinner-icon"></div>
                    </div>
                    <div class="owl-carousel owl-theme"></div>
                </div>
            </div>
        </div>
    </div>
</section>