{{ "<!-- FOOTER -->" | safeHTML }}
<footer style="padding: 2vh 0vh;">
    <div class="container grid"  style="width: 100%;">
        <div class="footer-content clearfix">
            <div class="left-contents">
                <img class="logoMain" src="{{ "img/logo/logo.svg" | absURL }}" />
                {{ range .Site.Data.sitemap.navigation.footer.links }}
                  <div class="left-contents">
                    <a class="footer-links" href="{{ .href }}" target="_blank">{{ .text | markdownify  }}</a>
                  </div>
                {{ end }}
            </div>
            <div class="content-right">
			          {{ range .Site.Data.sitemap.navigation.social.links }}
                  <a class="footer-links" href="{{ .href }}" target="_blank"><i class="fa {{ .icon }}"></i></a>
                {{ end }}
            </div>
        </div>
        <div class="mobile_version_content" style="width: 100%;">
            {{ range .Site.Data.sitemap.navigation.social.links }}
                <div class="mobile_version margin">
                    <a class="footer-links" href="{{ .href }}" target="_blank"><i style="min-width: 34px;" class="fa {{ .icon }}"></i></a>
                </div>
            {{ end }}
        </div>
        <div class="footer_mobile">
            {{ range .Site.Data.sitemap.navigation.footer.links }}
                <div class="footer_mobile_contents_{{ .class }}" onclick="navigateTo('{{ .href }}');">
                    {{ .text | markdownify  }}
                </div>
            {{ end }}
        </div>
        <div class="mobile_logo" style="text-align: center;">
            <img src="{{ "img/logo/logo.svg" | absURL }}" />
        </div>
        <div class="footer-text">
            {{ with .Site.Params.footer.copyright }}
                {{ . | markdownify  }}
            {{ end }}
        </div>
    </div>
</footer>
