{{ "<!-- FOOTER -->" | safeHTML }}
<footer>
    <div class="container grid">
        <div class="footer-content clearfix">
            <div class="left-contents">
                <img class="logoMain" src="{{ "img/logo/Logo@1x.png" | absURL }}" />
                {{ range .Site.Data.sitemap.navigation.footer.links }}
                  <div class="left-contents">
                    <a class="footer-links" href="{{ .href }}" target="_blank">{{ .text | markdownify  }}</a>
                  </div>
                {{ end }}
            </div>
            <div class="content-right">
			          {{ range .Site.Data.sitemap.navigation.social.links }}
                  <a class="footer-links" href="{{ .href }}" target="_blank"><i class="fa {{ .icon }}"></i></a>
                {{ end }}
            </div>
        </div>
        <div class="mobile_version_content">
            {{ range .Site.Data.sitemap.navigation.social.links }}
                <div class="mobile_version margin">
                    <a class="footer-links" href="{{ .href }}" target="_blank"><i class="fa {{ .icon }}"></i></a>
                </div>
            {{ end }}
        </div>
        <div class="footer_mobile">
            {{ range .Site.Data.sitemap.navigation.footer.links }}
                <div class="footer_mobile_contents_{{ .class }}" onclick="navigateTo('{{ .href }}');">
                    {{ .text | markdownify  }}
                </div>
            {{ end }}
        </div>
        <div class="mobile_logo">
            <img src="{{ "img/logo/Logo@1x.png" | absURL }}" />
        </div>
        <div class="footer-text">
            {{ with .Site.Params.footer.copyright }}
                {{ . | markdownify  }}
            {{ end }}
        </div>
    </div>
</footer>
