{{ "<!-- HEADER -->" | safeHTML }}
<header>
    {{ partial "nav.html" . }}
    <div class="header-content">
        <div class="header-content-inner">
            <div class="first-content clearfix">
                <div class="extra"></div>
                <div class="un-carrier">
                    {{ with .Site.Params.hero.headline2 }}
                        {{ . | markdownify  }}
                    {{ end }}
                </div>
                <div class="first-first-content">
                    {{ with .Site.Params.hero.headline1 }}
                        {{ . | markdownify  }}
                    {{ end }}
                </div>
            </div>
            <div class="second-content">
                <div>
                    {{ with .Site.Params.hero.headline3 }}
                        {{ . | markdownify  }}
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="header-content-inner-details">
            <div class="mobile-width">
                {{ with .Site.Params.hero.slogan }}
                    {{ . | markdownify  }}
                {{ end }}
            </div>
        </div>
        <a class="btn view-projects" href="#services">
            <button type="input">
                <span class="header-span">
                    {{ with .Site.Params.hero.cta.text }}
                        {{ . | markdownify  }}
                    {{ end }}
                </span>
            </button>
        </a>
        <div class="arrows">
          <!--add css arrows-->
          <div class="scroll-prompt" style="display: block; opacity: 1;">
              <div class="scroll-prompt-arrow-container">
                  <div class="scroll-prompt-arrow"><div></div></div>
                  <div class="scroll-prompt-arrow"><div></div></div>
              </div>
          </div>
        </div>
    </div>
    <div class="requestAccess overlay-container display-none" id="overlay-container-id">
        <div class="overlay-state-con" onclick="closePopup()">
            <div class="overlay-state">
                <div class="overlay-state-wrp">
                    <div class="overlay-vertical-center">
                        <div class="overlay-innerwrap">
                            {{ range .Site.Data.sitemap.navigation.global.links }}
                                <div class="overlay-text" onclick="closePopup()">
                                        <a href="{{ .href }}" class="{{ .class }}">{{ .text | markdownify }}</a>
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--add svg for diagonal border-->
    <div class="separator pull-down">
      <svg class="white-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
        <polygon points="100 0 100 10 0 10" />
      </svg>
    </div>
</header>
