{{ "<!-- jQuery 3.2.1 -->" | safeHTML }}
<script src="{{ "js/jquery.min.js" | absURL }}" type="text/javascript"></script>

{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ "vendor/bootstrap/js/bootstrap.min.js" | absURL }}" type="text/javascript"></script>

{{ "<!-- Plugin JavaScript -->" | safeHTML }}
<script src="{{ "js/jquery.easing.min.js" | absURL }}" type="text/javascript"></script>
<script src="{{ "js/scrolling.js" | absURL }}" type="text/javascript"></script>

{{ "<!-- PowerOwls -->" | safeHTML }}
<script src="{{ "vendor/owlcarousel/owl.carousel.min.js" | absURL }}" type="text/javascript"></script>
<script src="{{ "js/carousel.js" | absURL }}" type="text/javascript"></script>

{{ "<!-- Custom JavaScript -->" | safeHTML }}
<script src="{{ "js/github.js" | absURL }}" type="text/javascript"></script>
<script src="{{ "js/main.js" | absURL }}" type="text/javascript"></script>
