{{ "<!-- CONTRIBUTORS LICENSE AGREEMENT -->" | safeHTML }}
<section id="services-opposite">
    <div class="cat-prize-section BG5 opposite">
        <div class="container grid added-extra-padding">
            <div class="row">
                <div class="col-lg-12 text-center margin-container head-contributor">
                    <h2 class="">
                        <span class="cat-hdg opposite-font">
                            {{ with .Site.Params.license.headline }}
                                {{ . | markdownify }}
                            {{ end }}
                        </span>
                    </h2>
                </div>
                <div class="col-lg-12 text-left margin-container opposite-font contributor">
                    {{ with .Site.Params.license.summary }}
                        {{ . | markdownify }}
                    {{ end }}    
                </div>
            </div>
        </div>
    </div>        
</section>