
{{ "<!-- MODALS -->" | safeHTML }}
<div class="requestAccess overlay-container display-none" id="overlay-container-services">
    <div class="overlay-state-con">
        <div class="overlay-state">
            <div class="overlay-state-wrp">
                <div class="overlay-vertical-center">
                    <div class="overlay-innerwrap">
                        <div class="request-submit-widget">
                            {{range where .Site.Pages "Section" "conduct"}}
                                {{ if eq .File.BaseFileName "index" }}
                                    <div>
                                        <div class="heading-overlay">
                                            <span class="cross-icon" onclick="closeModel()"><i aria-hidden="true" class="fa fa-times"></i></span>
                                                <h1 class="success-header">{{ .Title }} </h1>
                                        </div>
                                        <div class="event-container">
                                                {{ .Content }}
                                        </div>
                                    </div>
                                {{end}}
                            {{end}}
                            <div class="overlay-button-cover">
                                <div class="overlay-button-wrap">
                                    <div class="secondary-button form-button">
                                        <div class="btn">
                                            <button type="input" onclick="closeModel()">
                                                <span class="career-span-overlay">OK</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>