{{ "<!-- PROJECTS -->" | safeHTML }}
<section id="services">        
    <div class="cat-features-section row project">
        <div class="container grid clearfix">
            <div class="cat-feature-box no-padding added-margin col-lg-4 col-md-4 col-sm-12"> 
                <h2 class="">
                    <span class="cat-hdg special">
                        {{ with .Site.Params.projects.headline }}
                            {{ . | markdownify  }}
                        {{ end }}
                    </span>
                </h2>
                <div class="mobile-font margin-container">
                    {{ with .Site.Params.projects.description }}
                        {{ . | markdownify  }}
                    {{ end }}
                </div>
            </div>
            <div class="cat-feature-box added-padding mobile-padding col-lg-8 col-md-8 col-sm-12">
                <div class="project-row row">
                    {{ range .Site.Data.projects }}
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-center">
                            <div class="markup">
                                <div class="markup-text" title="{{ .name }}">{{ .name }}</div>
                                <div class="markup-header">
                                  <div class="github-logo">
                                    <img src="img/github.svg" alt="github">
                                  </div>
                                  <div class="markup-language">{{ .language }}</div>
                                </div>
                                <div class="markup-footer">
                                    <div class="starb">12
                                        <img class="footer-img" src="img/star.png">
                                    </div>
                                    <div class="starb">4 Forks</div>
                                    <div class="starb">3
                                        <img class="footer-img" src="img/twitter.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

