{{ "<!-- PROJECTS -->" | safeHTML }}
<section id="services">
    <div class="cat-features-section row project">
        <div class="container grid clearfix added-extra-padding">
            <div class="cat-feature-box no-padding added-margin col-lg-4 col-md-4 col-sm-12">
                <h2 class="margin-container">
                    <span class="cat-hdg special">
                        {{ with .Site.Params.projects.headline }}
                            {{ . | markdownify  }}
                        {{ end }}
                    </span>
                </h2>
                <div class="mobile-font margin-container">
                    {{ with .Site.Params.projects.description }}
                        {{ . | markdownify  }}
                    {{ end }}
                </div>
            </div>
            <div class="cat-feature-box added-padding mobile-padding col-lg-8 col-md-8 col-sm-12">
                <div class="project-row row">
                    {{ range .Site.Data.projects }}
                        <div class="content-adjust col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" onclick="window.open('{{ .url }}', '_blank');">
                            <div class="markup">
                                <div class="markup-details">
                                  <div class="markup-text" title="{{ .name }}">{{ .name }}</div>
                                  <div class="markup-desc" title="{{ .description }}">{{ .description }}</div>
                                </div>
                                <div class="markup-header">
                                  <div class="corner-logo">
                                    <i class="fa fa-github"></i>
                                  </div>
                                  <div class="corner-tag">{{ .language }}</div>
                                </div>
                                <div class="markup-footer">
                                    <div class="starb">12
                                        <i class="icon-icon-stars"></i>
                                    </div>
                                    <div class="starb">4 Forks</div>
                                    <div class="starb">3
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!--add svg for diagonal border-->
<div class="separator pull-down">
  <svg class="pink-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="0 0 100 10 0 10" />
  </svg>
</div>
