{{ "<!-- VIDEOS -->" | safeHTML }}
<section id="videos">
    <div class="bg-primary cat-details-section">
        <div class="separator pull-up">
            <svg class="white-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10"
                 preserveAspectRatio="none">
                <polygon points="0,0 100,10 100,0"/>
            </svg>
        </div>
        <div class="adjust clearfix">
            <div class="container grid added-extra-margin">
                <div class="row">
                    <div class="text-center">
                        <h2 class="section-heading cat-details-section">
                            {{ with .Site.Params.videos.headline }}
                            {{ . | markdownify }}
                            {{ end }}
                        </h2>
                        <span class="section-heading cat-content">
                            {{ with .Site.Params.videos.summary }}
                                {{ . | markdownify }}
                            {{ end }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-margin grid text-center">
            <div class="row">
                <div class="col-lg-12 text-center margin-container">
                    <div id="youtube-video-0"
                         class="video-container">
                        {{$mainVideoIndex := 0}}

                        <iframe class="main-video"
                                src="{{(index .Site.Params.videos.data $mainVideoIndex).url}}"
                                frameborder="0"
                                gesture="media"
                                allow="encrypted-media">
                        </iframe>
                        <div class="main-video-overlay"
                                onclick="openVideoFromPlaylist(event)"
                                data-toggle="modal"
                                data-target="#videoModal"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-playlist">
                        <div id="youtube-video-1"
                             class="small-video-container">
                            {{$first := 1}}
                            <div class="small-video-overlay"
                                 onclick="openVideoFromPlaylist(event)"
                                 data-toggle="modal"
                                 data-target="#videoModal"></div>
                            <iframe style="border-radius: 5px;"
                                    width="280" height="157"
                                    src="{{(index .Site.Params.videos.data $first).url}}"
                                    frameborder="0"
                                    gesture="media"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div id="youtube-video-2"
                                class="small-video-container">
                            {{$second:= 2}}
                            <div class="small-video-overlay"
                                 onclick="openVideoFromPlaylist(event)"
                                 data-toggle="modal"
                                 data-target="#videoModal"></div>
                            <iframe style="border-radius: 5px;"
                                    width="280" height="157"
                                    src="{{(index .Site.Params.videos.data $second).url}}"
                                    frameborder="0"
                                    gesture="media"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                        <div id="youtube-video-3"
                                class="small-video-container">
                            {{$third:= 3}}
                            <div class="small-video-overlay"
                                 onclick="openVideoFromPlaylist(event)"
                                 data-toggle="modal"
                                 data-target="#videoModal"></div>
                            <iframe style="border-radius: 5px;"
                                    width="280" height="157"
                                    src="{{(index .Site.Params.videos.data $third).url}}"
                                    frameborder="0"
                                    gesture="media"
                                    allow="encrypted-media">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cat-prize-section">
                <div class="container grid text-center">
                    <div class="btn btn-white">
                        <button type="input"
                                onclick="window.open('https://www.youtube.com/playlist?list=PL0mz2nejZ-DgH0XsbYDrKPbeMiEJYWqUg','_videos')">
                            <span class="code-span">ALL VIDEOS</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator pull-down">
            <svg class="white-transparent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10"
                 preserveAspectRatio="none">
                <polygon points="0,10 100,10 100,0"/>
            </svg>
        </div>
    </div>
</section>

<div id="videoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <iframe id="videoModalSrc"
                src=""
                frameborder="0"
                gesture="media"
                allow="encrypted-media">
        </iframe>
    </div>
</div>